CompileFlags:            # Tweak the parse settings
  Add: [-xc]             # treat all files as C
  Remove: []             # strip all other flags
Diagnostics:
  ClangTidy:
    Add: ['*']
    Remove: [altera-*, llvmlibc-restrict-system-libc-headers, readability-avoid-const-params-in-decls]
    FastCheckFilter: None
