CompileFlags:
  Add: [-xc]
Diagnostics:
  ClangTidy:
    Add: ['*']
    # Good(cppcoreguidelines-avoid-magic-numbers, readability-magic-numbers) but produces too many unlogical (too much effort to fix) warnings
    Remove: [altera-*, cppcoreguidelines-avoid-magic-numbers, readability-magic-numbers, llvmlibc-restrict-system-libc-headers, misc-no-recursion]
    FastCheckFilter: None # Run checks regardless of their speed
InlayHints:
  BlockEnd: Yes
  DefaultArguments: Yes
  TypeNameLimit: 0 # No typename limit
